app/about-us.html
<!DOCTYPE html><html lang="en"><meta charset="utf-8"><title>About us - Sitename</title><meta name="viewport" content="width=device-width,initial-scale=1"><meta name="description" content="Awesome site"><link rel="stylesheet" href="assets/css/main.min.css"><link rel="icon" sizes="192x192" href="#"><link rel="apple-touch-icon" href="#"><link rel="mask-icon" href="#" color="#"><script src="assets/js/jquery-3.5.1.min.js"></script><body><header class="site-header"><div class="site-header__bg"><div class="container"><div class="site-header__top"><div class="site-header__logo"><svg><use xlink:href="assets/images/images.svg#logo"/></svg></div><div class="site-header__menu"><ul><li><a href="#">About us</a></li><li><a class="site-header__menu_active" href="#">Careers</a></li><li><a href="#">Leave your feedback</a></li></ul></div><div class="site-header__phone"><span>Call us: 1 334 316 0818</span><span>Text us: 1 347 269 3586</span></div><div class="site-header__mob">Menu<span></span></div></div></div><div class="site-header__bottom"><div class="container"><nav class="site-header__nav"><ul><li><a href="#">Our services</a></li><li><a href="#">Useful tips</a></li><li><a href="#">Reviews</a></li><li><a href="#">FAQ</a></li></ul></nav><div class="site-header__button"><a href="#">Apply</a></div></div></div></div></header><section class="about-slogan"><div class="container"><img src="assets/images/about-image.png"><div class="about-slogan__title"><svg><use xlink:href="assets/images/images.svg#logo-second"/></svg><span>BRINGING THE WORLD TO YOUR DOOR</span></div></div></section><section class="client"><div class="container"><h1>Become our client</h1><div class="client__info"><p><span>Our company provides assistance to a large number of buyers from all over the world.</span> We make it possible to buy and ship high-quality goods from any US online store within the shortest time possible.</p><p><span>What are the common difficulties of buying goods at US online stores?</span><br>You may face such issues as receiving broken or damaged goods, and inability to return money for them; loss of goods during the delivery process; shipping delays; absence of opportunity to use desired payment options; high shipping fees and no possibility of international shipping.</p><p><span>How does our company solve these issues for you?</span><br>We have hired a large staff of employees all over the USA who can accept, inspect, consolidate and provide all other shipping services for You while you are busy. You will not need to waste your time anymore on tiring calls to stores and postal services; time-consuming procedures of returning merchandise back to the stores or claiming refunds which may not be approved etc. We do whatever is needed instead of you. We cooperate with all major carriers like FEDEX, UPS, DHL, USPS and determine the most convenient shipping rates for you.</p><p><span>Compensations.</span> All your orders and goods are protected by our company and we take full responsibility for your items being delivered on time and in the right condition. We compensate lost, damaged items and shipping delays.</p><p><span>Enjoy shopping and do not worry about a thing.</span></p></div></div></section><section class="facts"><div class="container"><div class="facts__left"><div class="facts__block"><div class="facts__block-top"><svg class="rocket"><use xlink:href="assets/images/images.svg#rocket"/></svg><span>WHEN DID WE START</span></div><div class="facts__block-bottom"><p><span>Our business</span> was launched in 2014. We have been operating for more than 6 years already and we have helped thousands of customers all over the globe since then.</p></div></div><div class="facts__block"><div class="facts__block-top"><svg class="buy-goods"><use xlink:href="assets/images/images.svg#buy-goods"/></svg><span>HOW WILL YOU<br>BUY GOODS</span></div><div class="facts__block-bottom"><p class="facts__block-check"><span>You will be provided</span> with your very own US shipping address of one of our employees who will receive, inspect, consolidate and ship the packages right to the destination place you choose.</p><p class="facts__block-check"><span>You will be provided</span> with a personal manager who will take care of all the procedures connected with your order like returning, claiming the refund, making sure you receive the pictures of your merchandise before the shipping and contacting all the necessary services.</p></div></div><div class="facts__left-bottom"><svg><use xlink:href="assets/images/images.svg#about-logo"/></svg></div></div><div class="facts__right"><div class="facts__block"><div class="facts__block-top"><svg class="mission"><use xlink:href="assets/images/images.svg#mission"/></svg><span>What is our mission</span></div><div class="facts__block-bottom"><p class="facts__block-check"><span>We make</span> the shipping process as smooth as possible and save your time.</p><p class="facts__block-check"><span>We give</span> you an opportunity to avoid overpaying for items which are normally much cheaper in USA stores. If you have always dreamt of American high-quality merchandise, we will make your dreams come true and help you deliver whatever you want wherever you want within the shortest time frames.</p></div></div><div class="facts__block"><div class="facts__block-top"><svg class="guarantee"><use xlink:href="assets/images/images.svg#guarantee"/></svg><span>What do we guarantee</span></div><div class="facts__block-bottom"><p class="facts__block-check"><span>We will make sure</span> you will not receive damaged or broken goods. We guarantee one hundred percent refund of your money being paid for our services in case of any delivery issues.</p><p class="facts__block-check"><span>We provide 24/7</span> Customer Care so you can contact us anytime you want.</p><p class="facts__block-check"><span>We control all the stages</span> of the delivery process from the moment the order is placed by you to the moment you receive the order at your place.</p></div></div></div></div></section><footer class="site-footer"><div class="container"><div class="site-footer__left"><div class="site-footer__logo"><svg><use xlink:href="assets/images/images.svg#footer-logo"/></svg></div><div class="site-footer__copy">&copy; 2014–2020, Best Shop Usa, inc.</div></div><div class="site-footer__middle"><div class="site-footer__address"><img src="assets/images/department-of-state.jpg" alt="department-of-state-logo"><div class="site-footer__desc"><span class="site-footer__desc-title">BEST SHOP USA, INC</span><span>Address: 340 Madison Ave 19 FLR,</span><span>New York, 10173</span><span>DOS ID # 4006996</span></div></div><div class="site-footer__cards"><img src="assets/images/paypal.png" alt="paypal-logo"><img src="assets/images/visa.png" alt="visa-logo"><img src="assets/images/mastercard.png" alt="mastercard-logo"><img src="assets/images/escrow.png" alt="escrow-logo"></div></div><div class="site-footer__right"><div class="site-footer__contacts"><span>Сall us: <strong>1.334.316.0818</strong></span><span>Text us: <strong>1.347.269.3586</strong></span><span>Email: <strong>hr@bestshop-usa.store</strong></span><span>Email: <strong>info@bestshop-usa.store</strong></span></div><div class="site-footer__links"><ul><li><a href="#">Privacy Policy</a></li><li><a href="#">Cookies</a></li></ul></div></div></div></footer><script src="assets/js/main.min.js"></script></body></html>

dev/views/pages/about-us.pug
extends ../layout
prepend head
    - var pageTitle = 'About us'

block content
    section.about-slogan
        .container
            img(src='assets/images/about-image.png')
            .about-slogan__title
                svg <use xlink:href="assets/images/images.svg#logo-second" />
                span BRINGING THE WORLD TO YOUR DOOR
    section.client
        .container
            h1 Become our client
            .client__info
                p #[span Our company provides assistance to a large number of buyers from all over the world.] We make it possible to buy and ship high-quality goods from any US online store within the shortest time possible.
                p #[span What are the common difficulties of buying goods at US online stores?] <br> You may face such issues as receiving broken or damaged goods, and inability to return money for them; loss of goods during the delivery process; shipping delays; absence of opportunity to use desired payment options; high shipping fees and no possibility of international shipping.
                p #[span How does our company solve these issues for you?] <br> We have hired a large staff of employees all over the USA who can accept, inspect, consolidate and provide all other shipping services for You while you are busy. You will not need to waste your time anymore on tiring calls to stores and postal services; time-consuming procedures of returning merchandise back to the stores or claiming refunds which may not be approved etc. We do whatever is needed instead of you. We cooperate with all major carriers like FEDEX, UPS, DHL, USPS and determine the most convenient shipping rates for you.
                p #[span Compensations.] All your orders and goods are protected by our company and we take full responsibility for your items being delivered on time and in the right condition. We compensate lost, damaged items and shipping delays.
                p #[span Enjoy shopping and do not worry about a thing.]
    section.facts
        .container
            .facts__left
                .facts__block
                    .facts__block-top
                        svg.rocket <use xlink:href="assets/images/images.svg#rocket" />
                        span WHEN DID WE START
                    .facts__block-bottom
                        p #[span Our business] was launched in 2014. We have been operating for more than 6 years already and we have helped thousands of customers all over the globe since then.
                .facts__block
                    .facts__block-top
                        svg.buy-goods <use xlink:href="assets/images/images.svg#buy-goods" />
                        span HOW WILL YOU <br> BUY GOODS
                    .facts__block-bottom
                        p.facts__block-check #[span You will be provided] with your very own US shipping address of one of our employees who will receive, inspect, consolidate and ship the packages right to the destination place you choose.
                        p.facts__block-check #[span You will be provided] with a personal manager who will take care of all the procedures connected with your order like returning, claiming the refund, making sure you receive the pictures of your merchandise before the shipping and contacting all the necessary services.
                .facts__left-bottom
                    svg <use xlink:href="assets/images/images.svg#about-logo" />
            .facts__right
                .facts__block
                    .facts__block-top
                        svg.mission <use xlink:href="assets/images/images.svg#mission" />
                        span What is our mission
                    .facts__block-bottom
                        p.facts__block-check #[span We make] the shipping process as smooth as possible and save your time.
                        p.facts__block-check #[span We give] you an opportunity to avoid overpaying for items which are normally much cheaper in USA stores. If you have always dreamt of American high-quality merchandise, we will make your dreams come true and help you deliver whatever you want wherever you want within the shortest time frames.
                .facts__block
                    .facts__block-top
                        svg.guarantee <use xlink:href="assets/images/images.svg#guarantee" />
                        span What do we guarantee
                    .facts__block-bottom
                        p.facts__block-check #[span We will make sure] you will not receive damaged or broken goods. We guarantee one hundred percent refund of your money being paid for our services in case of any delivery issues.
                        p.facts__block-check #[span We provide 24/7] Customer Care so you can contact us anytime you want.
                        p.facts__block-check #[span We control all the stages] of the delivery process from the moment the order is placed by you to the moment you receive the order at your place.
