app/careers.html
<!DOCTYPE html><html lang="en"><meta charset="utf-8"><title>Home page - Sitename</title><meta name="viewport" content="width=device-width,initial-scale=1"><meta name="description" content="Awesome site"><link rel="stylesheet" href="assets/css/main.min.css"><link rel="icon" sizes="192x192" href="#"><link rel="apple-touch-icon" href="#"><link rel="mask-icon" href="#" color="#"><script src="assets/js/jquery-3.5.1.min.js"></script><body><header class="site-header"><div class="site-header__bg"><div class="container"><div class="site-header__top"><div class="site-header__logo"><svg><use xlink:href="assets/images/images.svg#logo"/></svg></div><div class="site-header__menu"><ul><li><a href="#">About us</a></li><li><a class="site-header__menu_active" href="#">Careers</a></li><li><a href="#">Leave your feedback</a></li></ul></div><div class="site-header__phone"><span>Call us: 1 334 316 0818</span><span>Text us: 1 347 269 3586</span></div><div class="site-header__mob">Menu<span></span></div></div></div><div class="site-header__bottom"><div class="container"><nav class="site-header__nav"><ul><li><a href="#">Our services</a></li><li><a href="#">Useful tips</a></li><li><a href="#">Reviews</a></li><li><a href="#">FAQ</a></li></ul></nav><div class="site-header__button"><a href="#">Apply</a></div></div></div></div></header><section class="careers-slogan"><div class="container"><img src="assets/images/careers-image.png"><div class="careers-slogan__title"><svg><use xlink:href="assets/images/images.svg#logo-second"/></svg><span>BRINGING THE WORLD TO YOUR DOOR</span></div></div></section><section class="employee"><div class="container"><h1>BEING OUR EMPLOYEE</h1><div class="employee__icons"><div class="employee__icon"><svg><use xlink:href="assets/images/images.svg#schedule"/></svg><span>Flexible work <em>schedule</em></span></div><div class="employee__icon"><svg><use xlink:href="assets/images/images.svg#opportunities"/></svg><span>Promotion <em>opportunities</em></span></div><div class="employee__icon"><svg><use xlink:href="assets/images/images.svg#e-salary"/></svg><span>Competitive<br><em>e-salary</em></span></div><div class="employee__icon"><svg><use xlink:href="assets/images/images.svg#support"/></svg><span>24/7<br><em>Support</em></span></div></div></div></section><section class="assistant"><div class="container"><h2>ADMINISTRATIVE ASSISTANT POSITION</h2><p>Best Shop USA inc. offers worldwide shipping services to clients from all over the world who want to purchase goods at American online stores like Amazon, BestBuy, eBay, Walmart and many others. Our clients are people who live in different countries and do not have time or possibility to handle all the delivery processes.</p><p>We make shopping easy for them by taking care of all the delivery stages from A-Z.</p><p>The role of Administrative Assistant is to:<br>- receive and inspect packages<br>- meet the shipping deadlines set by the client<br>- make sure the items are correct and not damaged<br>- take pictures of the item if required<br>- consolidate packages<br>- ship packages using prepaid shipping labels overseas</p></div></section><section class="terms"><div class="container"><span class="terms__title">REQUIREMENTS</span><ul><li><svg><use xlink:href="assets/images/images.svg#exclamation"/></svg></li><li>Above 18 y.o.</li><li>PC or laptop</li><li>Cell phone with camera</li><li>Physical living address: house or apartment</li><li>Access to a printer</li></ul></div></section><section class="terms"><div class="container"><span class="terms__title">We offer</span><ul><li><svg><use xlink:href="assets/images/images.svg#offer"/></svg></li><li>Home-based smooth working conditions</li><li>Flexible schedule</li><li>Competitive salary</li><li>Part-time (up to $1700/month) and Full-time (up to $3200/month)</li><li>Biweekly payments</li><li>We cover your shipping-related expenses</li><li>Access to user-friendly web app</li></ul></div></section><section class="steps"><div class="container"><p><span>Our onboarding process consists of two small steps:</span> 10-minute phone interview and web-based training. You will have access to our web application and a rulebook which will explain all the procedures A-Z.</p><p>If you are willing to start, please, complete the Application Form below or call us or email us.<br>We are open Monday - Friday, 8am to 6pm EST.</p></div></section><section class="form"></section><section class="faq"><div class="container"><h3>FAQ</h3><div class="faq__list"><div class="faq__question"><div class="faq__question-acc"><button class="faq__accordion">Will I be provided with a real American address or just a post box?</button> <svg><use xlink:href="assets/images/images.svg#arrow-down"/></svg></div><div class="faq__panel"><p>A complete US address not just a post box will be provided for you. This is the address of one of our employees. All US online stores will have an opportunity to deliver your orders to this address, after which, they will be sent to any place you wish.</p></div></div><div class="faq__question"><div class="faq__question-acc"><button class="faq__accordion">Will I be provided with a real American address or just a post box?</button> <svg><use xlink:href="assets/images/images.svg#arrow-down"/></svg></div><div class="faq__panel"><p>A complete US address not just a post box will be provided for you. This is the address of one of our employees. All US online stores will have an opportunity to deliver your orders to this address, after which, they will be sent to any place you wish.</p></div></div><div class="faq__question"><div class="faq__question-acc"><button class="faq__accordion">Will I be provided with a real American address or just a post box?</button> <svg><use xlink:href="assets/images/images.svg#arrow-down"/></svg></div><div class="faq__panel"><p>A complete US address not just a post box will be provided for you. This is the address of one of our employees. All US online stores will have an opportunity to deliver your orders to this address, after which, they will be sent to any place you wish.</p></div></div><div class="faq__question"><div class="faq__question-acc"><button class="faq__accordion">Will I be provided with a real American address or just a post box?</button> <svg><use xlink:href="assets/images/images.svg#arrow-down"/></svg></div><div class="faq__panel"><p>A complete US address not just a post box will be provided for you. This is the address of one of our employees. All US online stores will have an opportunity to deliver your orders to this address, after which, they will be sent to any place you wish.</p></div></div></div></div></section><footer class="site-footer"><div class="container"><div class="site-footer__left"><div class="site-footer__logo"><svg><use xlink:href="assets/images/images.svg#footer-logo"/></svg></div><div class="site-footer__copy">&copy; 2014–2020, Best Shop Usa, inc.</div></div><div class="site-footer__middle"><div class="site-footer__address"><img src="assets/images/department-of-state.jpg" alt="department-of-state-logo"><div class="site-footer__desc"><span class="site-footer__desc-title">BEST SHOP USA, INC</span><span>Address: 340 Madison Ave 19 FLR,</span><span>New York, 10173</span><span>DOS ID # 4006996</span></div></div><div class="site-footer__cards"><img src="assets/images/paypal.png" alt="paypal-logo"><img src="assets/images/visa.png" alt="visa-logo"><img src="assets/images/mastercard.png" alt="mastercard-logo"><img src="assets/images/escrow.png" alt="escrow-logo"></div></div><div class="site-footer__right"><div class="site-footer__contacts"><span>Сall us: <strong>1.334.316.0818</strong></span><span>Text us: <strong>1.347.269.3586</strong></span><span>Email: <strong>hr@bestshop-usa.store</strong></span><span>Email: <strong>info@bestshop-usa.store</strong></span></div><div class="site-footer__links"><ul><li><a href="#">Privacy Policy</a></li><li><a href="#">Cookies</a></li></ul></div></div></div></footer><script src="assets/js/main.min.js"></script></body></html>

dev/views/pages/careers.pug
extends ../layout
prepend head
    - var pageTitle = 'Home page'

block content
    section.careers-slogan
        .container
            img(src='assets/images/careers-image.png')
            .careers-slogan__title
                svg <use xlink:href="assets/images/images.svg#logo-second" />
                span BRINGING THE WORLD TO YOUR DOOR

    section.employee
        .container
            h1 BEING OUR EMPLOYEE
            .employee__icons
                .employee__icon
                    svg <use xlink:href="assets/images/images.svg#schedule" />
                    span Flexible work #[em schedule]
                .employee__icon
                    svg <use xlink:href="assets/images/images.svg#opportunities" />
                    span Promotion #[em opportunities]
                .employee__icon
                    svg <use xlink:href="assets/images/images.svg#e-salary" />
                    span Competitive <br> #[em e-salary]
                .employee__icon
                    svg <use xlink:href="assets/images/images.svg#support" />
                    span 24/7 <br> #[em Support]

    section.assistant
        .container
            h2 ADMINISTRATIVE ASSISTANT POSITION
            p Best Shop USA inc. offers worldwide shipping services to clients from all over the world who want to purchase goods at American online stores like Amazon, BestBuy, eBay, Walmart and many others. Our clients are people who live in different countries and do not have time or possibility to handle all the delivery processes.
            p We make shopping easy for them by taking care of all the delivery stages from A-Z.
            p The role of Administrative Assistant is to: <br> - receive and inspect packages <br> - meet the shipping deadlines set by the client <br> - make sure the items are correct and not damaged <br> - take pictures of the item if required <br> - consolidate packages <br> - ship packages using prepaid shipping labels overseas

    section.terms
        .container
            span.terms__title REQUIREMENTS
            ul
                li
                    svg <use xlink:href="assets/images/images.svg#exclamation" />
                li Above 18 y.o.
                li PC or laptop
                li Cell phone with camera
                li Physical living address: house or apartment
                li Access to a printer
    section.terms
        .container
            span.terms__title We offer
            ul
                li
                    svg <use xlink:href="assets/images/images.svg#offer" />
                li Home-based smooth working conditions
                li Flexible schedule
                li Competitive salary
                li Part-time (up to $1700/month) and Full-time (up to $3200/month)
                li Biweekly payments
                li We cover your shipping-related expenses
                li Access to user-friendly web app

    section.steps
        .container
            p #[span Our onboarding process consists of two small steps:] 10-minute phone interview and web-based training. You will have access to our web application and a rulebook which will explain all the procedures A-Z.
            p If you are willing to start, please, complete the Application Form below or call us or email us. <br> We are open Monday - Friday, 8am to 6pm EST.

    section.form

    // FAQ
    include ../components/faq
